@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@100&display=swap");

:root {
  --primary-color: #2baaec;
  --secondary-color: #25e6c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

h1 {
  color: #363636;
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.top-nav {
  padding: 1rem 1rem;
}
.top-nav .container,
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.1rem auto;

  /* border-bottom: 1px solid grey; */
}

.navbar .container {
  padding: 0.9rem;
  position: relative;
}

.top-nav .container p {
  display: flex;
  align-items: center;
}

.top-nav .container p img {
  margin-right: 0.5rem;
}

.social-media-icons a {
  display: inline-block;
  margin-right: 1rem;
  transition: transform 0.1s ease;
}

.social-media-icons a img:hover {
  transform: rotate(15deg);
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: "Roboto Slab", serif;
  font-weight: 800;
}

ul li a {
  text-decoration: none;
  padding: 1rem;
  transition: all 0.2s ease-in;
}

ul li a:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  font-weight: 900;
}

ul li a.current {
  color: var(--secondary-color);
}
ul li a.current:hover {
  color: #fff;
}

.navbar-toggler {
  display: none;
}

#showcase {
  background-color: #dedede;
  height: 70vh;
  padding-top: 2rem;
}

#showcase {
  display: flex;
  justify-content: space-between;
}

#showcase div,
#about-us div {
  flex: 1;
}

#showcase .showcase-img {
  background: url("./images/placehold2.png") no-repeat center center/contain;
  margin-left: 8rem;
}

.content {
  align-self: center;
  text-align: justify;
  padding: 3rem;
}

.text h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.text p {
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.btn {
  padding: 0.75rem 2rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
}

.btn-success {
  background-color: var(--secondary-color);
  color: #fff;
  margin-top: 1.2rem;
}

.btn-primary {
  background-color: #fff;
  color: var(--primary-color);
  font-weight: bolder;
}

.btn-success:hover {
  background-color: var(--primary-color);
  transition: background-color 0.1s ease-in;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid #fff;
  transition: all 0.1s ease-in;
}

#about-us.container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.about-us-img {
  background: url("./images/placehold.png") no-repeat center center/contain;
  height: 70vh;
}

#about-us .info-content {
  padding: 1.2rem;
}

.info-content p {
  font-size: 0.9rem;
  padding-top: 1.5rem;
  color: grey;
}

.info-count {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.info-count div p {
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: 900;
}
.title {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 0.6rem;
}
.title span {
  color: var(--primary-color);
}

.container.services-overview {
  background-color: #f7f7f7;
  min-width: 100vw;
  padding: 6rem;
  text-align: center;
}

#services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services {
  border: 1px solid #fff;
  border-radius: 0.6rem;
  text-align: center;
  padding: 2rem 0.1rem;
  padding: 1.5rem 0 1.5rem 0;
  background-color: #fff;
  max-width: 23rem;
  margin: 1rem 1.2rem 0 0;
  position: relative;
}

h1.services-heading {
  display: inline-block;
  margin-top: 1.2rem auto;
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 1rem;
}

.services div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: all 200ms ease-in-out;
}

.services div img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  padding: 1rem;
  margin-bottom: 1.2rem;
  object-fit: contain;
  transition: transform 100ms ease-out;
}

div img.second-img {
  background-color: var(--primary-color);
}

.services:hover {
  box-shadow: 2px 2px 1rem #3333339d, 0 0 3rem #333333a8;
}

.services:hover div img,
.services:focus div img {
  /* background-color: hotpink; */
  box-shadow: 2px 2px 1rem var(--secondary-color);
  transform: scale(1.2);
}

.services h3 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.services p {
  padding: 0.5rem 0.2rem;
}

#contact {
  background-color: #2ba8ecde;
}

#contact .container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0rem;
}

#contact .container h2 {
  color: #fff;
}

.foot {
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
}
.foot small {
  color: #fff;
}

/* medi queries */
/* mobile */

@media (max-width: 576px) {
  /* nav */
  .top-nav .container {
    display: none;
  }

  hr {
    display: none;
  }
  .navbar .container {
    padding: 2rem;
  }

  .navbar-toggler {
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 1px;
    border: 0;
    background-color: rgb(97, 63, 63);
  }

  .navbar-toggler .line {
    background-color: yellow;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }

  .navbar-toggler .line2 {
    top: auto;
    bottom: 10px;
  }

  button.active .line .line1 {
    transform: rotateY(-765deg) translateY(5.5px);
    background-color: red;
  }

  button.active .line .line2 {
    transform: rotateY(360deg) translateY(-5.5px);
    background-color: white;
  }

  .navbar-brand img {
    height: auto;
    width: 60%;
  }

  ul {
    display: none;
  }

  ul.active {
    display: block;
    height: 50vh;
    width: 80%;
    background: grey;
  }

  ul::before {
    display: block;
    content: " working Hours:Monday To Friday: 9.00-18.00";
    margin-bottom: 1rem;
  }

  /* end of nav */

  #showcase {
    display: block;
    margin: 0 auto;
  }

  #showcase .showcase-img {
    display: none;
  }

  .content {
    text-align: center;
    margin: 0 auto;
    padding: 5rem;
  }

  .btn-success {
    display: flex;
  }

  .text h1 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 1rem;
  }

  .info-content .title {
    font-size: 1.5rem;
  }

  .info-count {
    display: block;
    text-align: center;
  }

  .info-count div:nth-child(2) {
    transform: translateX(80%);
  }

  .about-us-img {
    transform: translateY(40%);
  }

  #services {
    display: block;
    margin-bottom: -3rem;
  }

  #services .services {
    width: 20rem;
    height: auto;
    transform: translateX(-20%);
    object-fit: cover;
  }

  #contact .container {
    display: block;
    text-align: center;
  }

  #contact .container h2 {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
}

/* tablets */
@media (max-width: 768px) {
  .container {
    min-width: 80%;
  }

  #services {
    grid-template-columns: repeat(2, 1fr);
  }

  #contact .container {
    display: block;
    text-align: center;
  }

  #contact .container h2 {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }

  .info-count{
    display: block;
    text-align: center;
  }

  .info-count div:nth-child(2) {
    transform: translateX(80%);
  }

  .info-count div small{
    font-size: 1.2rem;
  }
}
