:root {
  --primary-color: #2baaec;
  --secondary-color: #25e6c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  color: #363636;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.top-nav {
  padding: 1rem 1rem;
}
.top-nav .container,
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
  /* border-bottom: 1px solid grey; */
}

.top-nav .container p {
  display: flex;
  align-items: center;
}

.top-nav .container p img {
  margin-right: 0.5rem;
}

.collapse ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.collapse ul li a {
  margin-right: 0.7rem;
}

#showcase {
  background: #00000091 url("./images/caroline-lm--m-4tYmtLlI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  min-height: 50vh;
}

#showcase .container {
  display: flex;
  justify-content: space-between;
}

#showcase .container img {
  height: 500px;
  margin: 3rem auto;
  border-radius: 10px;
}

.content {
  align-self: center;
  text-align: justify;
  padding: 5rem 10rem;
}

.text h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.text p {
  margin-bottom: 1rem;
  font-weight: 500;
}

.btn {
  padding: 0.75rem 3rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
}

.btn-success {
  background-color: var(--secondary-color);
  color: #fff;
  margin-top: 1.2rem;
}

.btn-primary {
  background-color: #fff;
  color: var(--secondary-color);
  font-weight: 900;
}

#info.container {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  height: 100%;
}

#info img {
  width: 50%;
  height: auto;
}

#info .info-content {
  padding: 1.2rem;
}

.info-content p {
  font-size: 0.9rem;
  padding-top: 1.5rem;
}

.info-count {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.info-count div p {
  color: var(--secondary-color);
  font-size: 1.7rem;
  font-weight: 500;
}
.title {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 0.6rem;
}
.title span {
  color: var(--primary-color);
}

.container.services-overview {
  background-color: #f7f7f7;
  min-width: 100vw;
  padding: 6rem;
  text-align: center;
}

#services {
  display: grid;
  grid-template-columns: auto auto auto;
}

.services {
  /* grid-row-gap: 50px; */
  border: 1px solid #fff;
  border-radius: 0.6rem;
  margin: 1rem;
  text-align: center;
  padding: 2rem 1rem;
  background-color: #fff;
}

h1.services-heading {
  display: inline-block;
  margin-top: 1.2rem auto;
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 1rem;
}

.services a img {
  padding: 1.6rem;
}
.services h2 {
  /* margin-bottom: 1rem; */
}
.services p {
  padding: 0.5rem 0.2rem;
}

.footer-main {
  background-color: var(--primary-color);
}

.footer-main .container {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

.footer-main .container h1 {
  color: #fff;
}

.foot {
  text-align: center;
  width: 100%;
  /* border-top: 1px solid var(--primary-color); */
  background-color: #1665af;
  padding: 1rem;
  color: #fff;
}
